<div id="left">
  <p><%= partial :field, template_engine: :erb, locals: {field: ours_field} %></p>

</div>

<div id="right">
  <p><%= partial :field, template_engine: :erb, locals: {field: theirs_field} %></p>

</div>
