<html>
<head>
  <title>Sea Battle</title>
</head>
<body>

<h1>Welcome to Sea Battle!</h1>
<h3>To start game, please fill simple form.</h3>

<form action="/game/" method="POST">
  Field size: <input type="number" name="size">
  <br/>
  Ships quantity: <input type="number" name="quantity">
  <br/>
  <input type="submit">
</form>

</body>
</html>